:root {
  --image-width: 62%;
  --rest-width: 38%;
  --main-font: 14px;
  --image-height: 700px;
  --font-color: #4D4D4D;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html {
  min-height: 100vh;
  min-width: 320px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 20px;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 20;
  background-color: #ffffff;
  transition: all 0.3s;
  /*box-shadow: 0 0 10px -5px grey;*/

  @media only screen and (min-width: 700px) {
    padding: 0 60px;
  }
}

#menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: 80px;
  position: relative;
  gap: 20px;
  cursor: pointer;

  @media only screen and (min-width: 700px) {
    flex: 2;
    height: 100%;
  }
}

#lines>* {
  transition: all 0.3s;
}

#line1,
#line3 {
  stroke-dasharray: 9;
}

#line2 {
  stroke-dasharray: 9;
  stroke-dashoffset: 5;
}

.menu-active #line1,
.menu-active #line3 {
  stroke-dashoffset: 5;
}

.menu-active #line2 {
  stroke-dashoffset: 0;
}

#categories {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  position: absolute;
  top: 60px;
  left: -300px;
  color: rgb(72, 72, 72);
  background-color: white;
  box-shadow: 1px 1px 4px 0 grey;
  opacity: 0.3;
  transform: scale(0.5);
  z-index: 5;
  transition: all 0.3s cubic-bezier(0.03, 0.17, 0.47, 1.28);

  @media only screen and (min-width: 700px) {
    flex: 3;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: static;
    top: 0px;
    left: 0px;
    height: 100%;
    background-color: transparent;
    box-shadow: none;
    opacity: 1;
    transform: none;
    z-index: 1;
  }
}

.menu-active+#categories {
  opacity: 1;
  transform: translateX(300px) scale(1);

  @media only screen and (min-width: 700px) {
    opacity: 1;
    transform: none;
  }
}

.category {
  padding: 10px;
  width: 100%;
  transition: all 0.2s;
  font-size: var(--main-font);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @media only screen and (min-width: 700px) {
    width: auto;
    height: 100%;
    width: 80px;
    padding: 10px 40px;
  }
}

.category:hover {
  background-color: rgb(140, 140, 140);
  color: white;
}

#categories-icon {
  width: 26px;
  height: 26px;

  @media only screen and (min-width: 700px) {
    visibility: hidden;
    margin-right: 20px;
  }
}

#search {
  width: 26px;
  height: 26px;
  z-index: 10;
  cursor: pointer;

  @media only screen and (min-width: 700px) {
    float: right;
    margin-right: 20px;
  }
}

#search1 {
  stroke-dasharray: 32;
}

.search-active #search1 {
  animation: searchLoop 0.5s;
}

@keyframes searchLoop {
  from {
    stroke-dashoffset: 32;
  }

  to {
    stroke-dashoffset: 0;
  }
}

#logo {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;

  @media only screen and (min-width: 700px) {
    order: -1;
    flex: 0;
  }
}

#logo>img {
  height: 80%;
}

#user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 80px;
  padding: 5px;

  & img {
    height: 100%;
  }
}

.image-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.image-container:nth-child(2) {
  padding-top: 2px;
  position: relative;
}

#items {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  font-size: 10px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  color: #bc5d5d;
}

#path {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 15px 20px;
  height: 60px;
  gap: 10px;
  background-color: #F6F6F5;
  color: #A9A9A9;
  flex: 1;
  overflow: hidden;

  @media only screen and (min-width: 700px) {
    width: var(--rest-width);
    float: right;
    padding: 15px calc(5% - 30px);
  }
}

#location {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

#left-arrow {
  cursor: pointer;
}

.location-part {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: .1px;
  text-decoration: none;
  color: #A9A9A9;
}

.location-part:last-child {
  color: black;
}

#product-info-top {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  position: relative;
  background-color: #F6F6F5;

  @media only screen and (min-width: 700px) {
    flex-direction: row;
    align-items: start;
    height: var(--image-height);
  }
}

#product-image {
  width: 100%;

  @media only screen and (min-width: 700px) {
    height: var(--image-height);
    width: var(--image-width);
    order: -1;
  }
}

#product-image img {

  @media only screen and (min-width: 700px) {
    object-fit: cover;
    height: var(--image-height);
  }
}

#product-intro {
  padding: 20px 5%;
  position: relative;

  @media only screen and (min-width: 700px) {
    position: absolute;
    top: 60px;
    right: 0;
    width: var(--rest-width);
    background-color: #F6F6F5;
    height: calc(100% - 65px);
    overflow-y: auto;
    overflow-x: hidden;
  }
}

#product-intro::-webkit-scrollbar {
  display: none;
}

#product-intro h3 {
  font-size: 28px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 8px;
}

#product-intro h4 {
  font-size: var(--main-font);
  font-weight: normal;
  text-transform: uppercase;
  color: var(--font-color);
  margin-bottom: 20px;
}

hr {
  margin-bottom: 20px;
  border-top: 2px solid #4d4d4d36;
  border-radius: 5px;
}

#product-intro-main p {
  text-align: justify;
  color: var(--font-color);
  margin-bottom: 20px;
  font-size: var(--main-font);
  font-weight: 300;
}

#product-intro-main {
  margin-bottom: 30px;
}

#product-icons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;

  @media only screen and (min-width: 360px) {
    flex-direction: row;
    gap: 10px;
  }

  @media only screen and (min-width: 700px) {
    flex-direction: column;
    align-items: start;
    gap: 5px;
  }

  @media only screen and (min-width: 1360px) {
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
}

.product-icons {
  flex-grow: 1;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  min-width: 40%;
  height: 50px;
  font-size: 12px;
  letter-spacing: 0;
  color: #9F938B;

  @media only screen and (min-width: 700px) {
    font-size: var(--main-font);
  }
}

.product-icons:nth-child(even) {
  justify-content: end;
}

.product-icons>img {
  height: 100%;
}

.product-icons>span {
  color: #948282;
}

#buying-options {
  margin: 0px;
}

#buying-options>label {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 5px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 5%;
  color: var(--font-color);
}

.radio {
  filter: grayscale(1);
  opacity: 0.5;
  transform: scale(1.5);
  margin-right: 20px;
}

.redded {
  color: #D35D5D;
}

.unselected {
  opacity: 0.5;
}

#quantity {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-top: 40px;

  @media only screen and (min-width: 700px) {
    justify-content: start;
  }
}

#quantity-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  height: 47px;
  width: 100px;
}

#quantity-container>input {
  border: none;
  width: 30px;
  text-align: center;
  background-color: #F6F6F5;
  font-size: 16px;

  &:focus {
    outline: none;
  }
}

#add {
  border: none;
  flex: 1;
  text-align: center;
  color: var(--font-color);
  background-color: #BFABAB;
  height: 47px;
  font-size: 16px;
  text-transform: uppercase;
}

.change-quantity {
  width: 30px;
  text-align: center;
}

#minus,
#plus,
#add {
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button-flip {
  animation: 0.6s rotateme 0.2s ease-in-out;
}

@keyframes rotateme {
  from {
    transform: rotateX(0deg);
    box-shadow: 0 0 0 0 grey;
  }

  50% {
    box-shadow: 0 0 10px -2px grey;
  }

  to {
    transform: rotateX(360deg);
    box-shadow: 0 0 0 0 grey;
  }
}

#product-info-bottom {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  color: var(--font-color);
  margin: 30px 0;

  @media only screen and (min-width: 700px) {
    width: var(--image-width);
  }
}

#product-info-bottom h3 {
  font-weight: 200;
  font-size: 20px;
}

#product-info-bottom p {
  font-size: var(--main-font);
  margin-top: 30px;
}

.ingredients {
  width: 90%;
  position: relative;
  max-height: 30px;
  overflow: hidden;
  transition: all 0.3s ease-out;

  @media only screen and (min-width: 700px) {
    width: 70%;
  }
}

#product-info-bottom hr {
  width: 90%;
  margin: 20px 0;

  @media only screen and (min-width: 700px) {
    width: 70%;
  }
}

.expanded {
  max-height: 250px;
}

.expand {
  border: none;
  background-color: transparent;
  font-size: 27px;
  color: var(--font-color);
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}

#suggestions {
  margin: 60px;
  width: calc(100vw - 120px);
  position: relative;
}

#suggestions>h3 {
  font-size: 28px;
  font-weight: 400;
  color: var(--font-color);
  text-align: center;
  text-transform: uppercase;
}

#suggestions>hr {
  margin-bottom: 20px;
  border-top: 1px solid rgba(40, 40, 40, 0.486);
  border-radius: 5px;
}

#wrong-svg {
  transform: scaleX(-1);
}

.slide-icon {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

#slide-left {
  left: -40px;
}

#slide-right {
  right: -40px;
}

#carousel-viewport {
  width: 100%;
  transition: all 0.5s;
  overflow: hidden;
}

#products-carousel {
  display: flex;
  justify-content: start;
  align-items: stretch;
  height: 100%;
  width: calc((100vw - 120px) * 6);
  transition: all 0.5s;
}

.suggestion {
  width: calc(100vw - 120px);
  font-weight: 200;
  text-transform: uppercase;
  font-size: 16;
  color: var(--font-color);
  padding: 30px;
  height: 110%;

  @media only screen and (min-width: 700px) {
    width: calc((100vw - 120px) / 3);
    overflow: hidden;
  }
}

.suggestion img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.suggestion h4 {
  font-weight: 500;
}

.suggestion-description {
  font-weight: 200;
}

.price {
  font-size: 18px;
  margin-top: 30px;
  font-weight: 500;
}